<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Set your DC FQDN here -->
    <add key="DcFqdn" value="DomainnName.com" />
    <!-- Optional: set BaseDn; leave empty to auto-discover from rootDSE -->
    <add key="BaseDn" value="" />
	  <!--<add key="BaseDn" value="DC=contoso,DC=com" /> -->
  </appSettings>
</configuration>
