<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="LDAP:BindMode" value="UserBind" />
    <add key="LDAP:Server"   value="DomainnName.com" />
    <add key="LDAP:Port"     value="636" />
    <add key="LDAP:BaseDN"   value="DC=DomainnNam,DC=com" />
    <add key="LDAP:Domain"   value="DomainnNam.com" />
    <add key="LDAP:ServiceAccount"  value="" />
    <add key="LDAP:ServicePassword" value="" />
    <add key="LDAP:CertThumbprint"  value="" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />

    <authentication mode="Forms">
      <forms
        loginUrl="~/Pages/Login.aspx"
        defaultUrl="~/Pages/Dashboard.aspx"
        name=".LDAPAUTH"
        timeout="30"
        slidingExpiration="true"
        protection="All" />
    </authentication>

    <authorization>
      <deny users="?" />
    </authorization>

    <sessionState timeout="30" />
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>

  <!-- ── Default document: hitting the root redirects to Login ── -->
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Pages/Login.aspx" />
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

  <location path="Pages/Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

</configuration>
